
body{
	background-color:rgb(255, 253, 250);
	background-size: cover;
}

.card,.form-control{
	background-color: transparent;
	border-color:rgb(117, 117, 117);
}

.card-header-tabs .nav-link.active {
    background-color: transparent;
    border-color:rgb(117, 117, 117);
	border-bottom-color:transparent;

}

.border{
	--bs-border-opacity: 1;
	border-color: rgba(var(--bs-success-rgb), var(--)) !important;
  }