{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
  <br>

  <div class="d-flex justify-content-center">
    <p class="fw-light">login</p>
  </div>
  
  <div class="flex-row gap-3 justify-content-around">

    <div class="row  pt-3">
      <div id="imgdiv" class="col-sm-5 text-center">
            <img class="thumbnail img-responsive"  src="{% static '/images/index.svg' %}" 
                style="max-width:100%;height: auto;max-height: 100%;"> 
     </div>

     <div class="col-sm-1">

     </div>

     <div class="col-sm-4 shadow rounded">
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
              {{message}}
          </div>
        {% endfor %}
        <form method="post" action="{% url 'accounts:login' %}">
          {% csrf_token %}
          {{ form|crispy }}
          <button class="btn btn-primary btn-sm" type="submit">login</button>
        </form>
      </div>
    </div>

  </div>
  
{% endblock %}