{% extends "native_auth/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% get_providers as socialaccount_providers %}

{% load crispy_forms_filters %}


<section>
  <br><br>

  <div class="d-flex justify-content-center">
    <p class="">Create task</p>
    
  </div>

  <div class="flex-row login-div justify-content-around rounded p-3  border ">

    <div class="row  pt-3 pb-0">
      <div id="imgdiv" class="col-sm-5 text-center">
        <img class=" image img-responsive"  src="{% static 'images/update.svg' %}"> 
      </div>

     <div class="col-sm-1">
     </div>

     <div class="col-sm-4 pt-3">
        {% for message in messages %}
          <div class="alert alert-danger" role="alert">
              {{message}}
          </div>
        {% endfor %}
        <form method="post" action="{% url 'task:create' %}">
          {% csrf_token %}
          {{ create_form|crispy }}
          <button class="btn btn-primary btn-sm" type="submit">create</button>
        </form>  
      </div>
      
    </div>

  </div>
  
</section>

  
{% endblock %}
