{% extends "native_auth/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="section">
  <div class="container"> <br><br>
    <div class="row justify-content-around ">
      {% for task in active_tasks %}
      {% include "task/card_template.html" with task=task %}
      {% endfor %}
    </div>
    
    <br>
    <p class="text-center"> Collaborations!</p>
    <!--USER COLLABORATIONSJ  -->
    <div class="row justify-content-around ">
      {% for task in active_tasks %}
      {% include "task/card_template.html" with task=task %}
      {% endfor %}
    </div>
    
    <br>
    <p class="text-center"> Completed tasks!</p>
    <!--USER COLLABORATIONSJ  -->
    <div class="row justify-content-around ">
      {% for task in active_tasks %}
      {% include "task/card_template.html" with task=task %}
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}